body {
  background-color: #082b59;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: #59331d;
}

a:hover {
  text-decoration: none;
}

header {
  border-bottom: 10px solid #d98555;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

nav li {
  margin: 0 auto 1rem auto;
  font-size: 1.3rem;
}

nav li span {
  display: inline-block;
}

nav li .icon {
  margin-right: 0.3rem;
}

nav .logo img {
  max-width: 150px;
}

nav .logo {
  flex-basis: 100%;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

/* all hover transitions for nav elements in one selector! */
nav li:hover a {
  color: #d98555;
  & .caption {
    text-decoration: underline;
  }
}

.main-bkgd {
  background: #ffffff url(../media/images/gulp-bean-bkgd.jpg) repeat-x bottom;
  padding-bottom: 300px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

figure {
  margin: 3rem 0 0 0;
  background-color: #59331d;
  border-radius: 10px;
}

figure img {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

figcaption {
  color: #f2f2f2;
  padding: 0.5rem;
}

.button {
  display: inline-block;
  background-color: #59331d;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin: 0;
  color: #f2f2f2;
  text-decoration: none;
  border: 3px solid #59331d;
}

.button:hover {
  background-color: #d98555;
  color: #59331d;
}

footer {
  color: #f2f2f2;
  text-align: center;
  border-top: 10px solid #d98555;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer a {
  color: #f2f2f2;
  font-size: 2rem;
  display: block;
  margin: 0 1rem 3rem 1rem;
}

/* tablet form factor */
@media screen and (min-width: 481px) {
  nav ul {
    flex-flow: row wrap;
  }

  nav .logo {
    margin: 0 1rem;
  }

  nav li {
    margin: 0 1rem 1rem 1rem;
  }

  .main {
    max-width: 1200px;
    flex-flow: row wrap;
    gap: 2rem;
  }

  article {
    flex-basis: 52%;
  }

  figure {
    flex-basis: 40%;
    align-self: baseline;
    margin-top: 5.3rem;
  }
}

/* small screen / laptop form factor */
@media screen and (min-width: 769px) {
  nav ul {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: stretch;
    margin: 0;
    width: 100%;
    padding: 0 2rem 0 1rem;
  }

  nav .logo {
    flex-grow: 1;
    flex-basis: 0;
    text-align: left;
    margin: 1rem 0 0 0;
  }

  nav .logo img:hover {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  nav li {
    align-self: center;
    margin: 3rem 0 0 3rem;
  }

  nav li .icon {
    margin-right: 0.5rem;
    transition: transform 0.2s cubic-bezier(0.68, 0.21, 0.42, 2.46);
  }

  nav a {
    transition: color 0.3s ease-out;
  }

  /* all hover transitions for nav elements in one selector! */
  nav li:hover a {
    color: #d98555;
    & .icon {
      transform: scale(1.5);
    }
    & .caption {
      text-decoration: underline;
    }
  }

  .main {
    justify-content: left;
  }

  article {
    flex-basis: 50%;
  }

  figure {
    flex-basis: 40%;
    align-self: baseline;
    margin-top: 5.3rem;
  }

  .button {
    transition: all 0.2s ease-in-out;
  }

  footer li .icon {
    transition: all 0.2s cubic-bezier(0.68, 0.21, 0.42, 2.46);
  }

  footer li:hover .icon {
    transform: scale(1.5);
    box-shadow: 0 0 60px 5px #131d26;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* desktop / large screen form factor */
@media screen and (min-width: 1025px) {
}
